.fa-phone-alt:before {
    content: "\f879"; }

.fa-map-alt:before {
  content: "\f879"; }

.fa-truck-alt:before {
     content: "\f879"; }

.fa-wifi-alt:before {
    content: "\f879"; }
        
.fa-map-alt:before {
    content: "\f879"; }